<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- ================== CONFIG SECTIONS ================== -->
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- ================== APP SETTINGS ================== -->
	<appSettings>
		<!-- MVC -->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- VNPay Sandbox -->
		<add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
		<add key="vnp_TmnCode" value="2MMEUFSV" />
		<add key="vnp_HashSecret" value="9EIE23H00ZXUFEHZ0IBK11YCZ6E89TVK" />
		<add key="vnp_Version" value="2.1.0" />
		<add key="vnp_Command" value="pay" />
		<add key="vnp_CurrCode" value="VND" />
		<add key="vnp_Locale" value="vn" />
	</appSettings>

	<!-- ================== CONNECTION STRING ================== -->
	<connectionStrings><add name="QUANLYBANSACH_NHOM06Entities5" connectionString="metadata=res://*/Models.quanlysach.csdl|res://*/Models.quanlysach.ssdl|res://*/Models.quanlysach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-2RRIFFNL;initial catalog=QUANLYBANSACH_NHOM06;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

	<!-- ================== SYSTEM WEB ================== -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="104857600" />
		<customErrors mode="Off" />
		<authentication mode="None" />
	</system.web>

	<!-- ================== SYSTEM WEB SERVER ================== -->
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
	</system.webServer>

	<!-- ================== RUNTIME ================== -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- ================== ENTITY FRAMEWORK ================== -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

</configuration>
